/*Importing fonts*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/*Colour Variables*/

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

/*Reset*/
* {
    box-sizing: border-box;
    padding: 0pc;
    margin: 0px;
}


/*General Styling*/

body {
    background-color: var(--Light-Grayish-Blue);
    font-family: "Manrope";
}

.profile-name {
    font-size: 14px;
    color: var(--Very-Dark-Grayish-Blue);
    font-weight: 700;
}


.profile-date {
    color: var(--Desaturated-Dark-Blue);
    font-size: 13px;
}


p {
    font-size: 13px;
    color: var(--Desaturated-Dark-Blue);
    line-height: 1.4rem;
}

.card {
    background-color: white;
}

.card-title {
    color: var(--Very-Dark-Grayish-Blue);
    font-size: 1.1rem;
    line-height: 1.7rem;
}

.profile-share-button-background{
    border-radius: 50%;
    height: 30px;
    width:30px;
    background-color: var(--Light-Grayish-Blue);
}

.profile-share-button{
    width:15px;
    height:15px;
    margin: 7px 7px;
   
 }

 .socials{
    position: absolute;
    width:100%;
    right:0px;
    bottom:0px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 15px 15px;
    background-color: var(--Very-Dark-Grayish-Blue);
    color: var(--Grayish-Blue);
    font-weight: 500;
    padding:10px;
    }

    .socials-icon{
        margin:0 5px;
    }

.socials-active{
    letter-spacing: 3px;
    text-transform: uppercase;
}

.active-button-background{
    background-color: var(--Desaturated-Dark-Blue);
}

.active-button{
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}






/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .card {
     width: 360px;
     margin:5vh auto;
     border-radius: 15px;
     display: flex;
     flex-direction: column;
     filter: drop-shadow(0px 5px 20px var(--Desaturated-Dark-Blue));
    }

    .hero-img{
        width: 360px;
        height:auto;
        border-radius: 15px 15px 0 0 ;
    }

    .card-content-section{
        padding:30px;
    }

    .card-title {
        margin-bottom:10px;
    }

    .card-text {
        margin-bottom:30px;
    }

    .card-profile-section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        display: none;
    }

    .profile-image{
        width:50px;
        height:auto;
        border-radius: 50%;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}


